<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">Osborn</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ui-sref="projects.list">Projects</a></li>
        <li><a ui-sref="resources.list">Resources</a></li>            
        <li><a ui-sref="users.list">Users</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="toolbar.user == null"><a ui-sref="auth">Login</a></li>
        <li ng-if="toolbar.user"><a>{{toolbar.user.name}}</a></li>
        <li ng-if="toolbar.user"><a href="" ng-click="toolbar.signOut()">Logout</a></li>
      </ul>
    </div>


  </div>
</nav>