<!-- <h1>Welcome!</h1> -->

<div class="row" style="margin-top: 30px; margin-bottom: 40px;">
    <div class="col-sm-8">
        <p class="welcome-msg">Welcome, <b class="user-name">User Name</b>!</p>

        <div class="row gantt-panel">
            <div class="title">Gantt</div>
            <button type="button" class="btn-actions" data-toggle="dropdown" aria-expanded="false">
                Actions
                <span class="caret"></span>
            </button>
            <div class="panel-heading">
                    <div class="pull-right">

                        <div class="btn-group">
                            
                            <ul class="dropdown-menu multi-level pull-right" role="menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Filter By</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="#">Status</a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="stat in home.status">
                                                    <a href="#">{{stat.desc}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Team</a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="team in home.teams">
                                                    <a href="#">{{team.name}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="#">Entity</a>
                                            <ul class="dropdown-menu">
                                                <li ng-repeat="entity in home.entities">
                                                    <a href="#">{{entity}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">Clear Filter</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Print</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   <ng-google-charts data="home.ganttChartOptions"></ng-google-charts>
                </div>
            </div>
            <div class="row home-issues-panel">
            <div class="title">Issues</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>Issues
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#">Action</a>
                                </li>
                                <li><a href="#">Another action</a>
                                </li>
                                <li><a href="#">Something else here</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   <ng-google-charts data="home.issuesChartOptions" style="height: 400;"></ng-google-charts>
                </div>
            </div> 
        </div>

    </div>
    <div class="col-sm-4 home-right-content">
        <div class="row stickers-panel">
            <div class="circle-projects col-md-3">
                <a ui-sref="projects.list">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="counter">{{home.projects.length}}</div>
                            <div class="title">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                Projects
                            </div>
                        </div>
                        <div class="panel-footer">
                            <i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="circle-available col-md-3">
                <a ui-sref="projects.list">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="counter">{{home.resources.length}}</div>
                            <div class="title">
                                <i class="glyphicon glyphicon-user"></i>
                                Available
                            </div>
                        </div>
                        <div class="panel-footer">
                            <i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="circle-issues col-md-3">
                <a ui-sref="projects.list">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="counter">24</div>
                            <div class="title">
                                <i class="glyphicon glyphicon-alert"></i>
                                Issues
                            </div>
                        </div>
                        <div class="panel-footer">
                            <i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="circle-risks col-md-3">
                <a ui-sref="risks.list">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="counter">{{home.risks.length}}</div>
                            <div class="title">
                                <i class="glyphicon glyphicon-flash"></i>
                                Risks
                            </div>
                        </div>
                        <div class="panel-footer">
                            <i class="glyphicon glyphicon-circle-arrow-right"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row notification-panel">
            <div class="title">Notifications Panel</div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-comment fa-fw"></i> New Comment
                    <span class="pull-right text-muted"><em>4 minutes ago</em>
                    </span>
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
                 <a href="#" class="list-group-item">
                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                    <span class="pull-right text-muted"><em>12 minutes ago</em>
                    </span>
                </a>
            </div>
            <a href="#" class="btn btn-default btn-block btn-purple">View all alerts</a>
            </div>
        </div>
    </div>

<style>

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
</style>