<div class="row">
  <div class="col-sm-11">
    <h1>{{rd.resource.name}} <small>{{rd.resource.code}}</small></h1>
  </div>
  <div class="col-sm-12 well">
    <div class="col-sm-10">
      <p>{{rd.resource.position}}</p>
      <h4>
        <span class="label" ng-class="{'label-primary': rd.resource.active, 'label-default': !(rd.resource.active)}">
          {{rd.activeLabel}}
        </span>
        &nbsp;
        <span class="label" ng-class="{'label-primary': rd.allocated, 'label-danger': !(rd.allocated)}">
          {{rd.allocatedLabel}}
        </span>
      </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Allocation Timeline
      </div>
      <div class="panel-body">
        <ng-google-charts data="rd.timelineChartOptions"></ng-google-charts>
      </div>
    </div>
  </div>
</div>