@font-face {
	font-family: "OpenSans-Regular";
	src: url("fonts/OpenSans-Regular.ttf");
	font-weight: normal;
	font-style: normal
}

/*GENERAL*/
body {
	color: #131F25;
	padding-top: 70px;
	font: 10px "OpenSans-Regular", Helvetica, Arial, sans-serif;
}
.form-group label {
	font-size: 1.3em;
	font-weight: normal;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
	height: 30px;
}
.form-group textarea {
	height: 100px;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea, 
.form-group select {
	background-color: #f2f8fa;
	font-size: 1.3em;
	padding: 6px 12px 6px 12px;
	border-radius: 15px;
	border: 1px solid #D1D8DA;
	box-shadow: none;

}

/*TOOLBAR*/
.osb-navbar {
    background-color: #131F25;
    border-bottom: 6px solid #9a56d8;
}
.osb-navbar .container {
    min-height: 60px;
}
.osb-navbar .osb-logo {
	width: 100px;
	margin-top: 20px;
}
.osb-navbar .navbar-nav > li {
	margin-top: 20px;
}
.osb-navbar .navbar-nav > li > a {
    color: #D1D8DA;
    font-size: 1.4em;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0;

    -webkit-transition: all .25s ease;
            transition: all .25s ease;
}
.osb-navbar .navbar-nav.menu-options {
	margin-left: 30px;
}
.osb-navbar .navbar-nav.menu-options > li {
    border-right: 1px solid #566165;
}
.osb-navbar .navbar-nav.menu-options > li:last-child {
	border-right: none;
}
.osb-navbar .navbar-nav > li > a:focus,
.osb-navbar .navbar-nav > li > a:hover,
.osb-navbar .navbar-nav > li > a:active {
    color: #A4ACB0;
}
.osb-navbar .navbar-nav.login-options > li > a > .btn-login > .icon {
    color: #D1D8DA;
    font-size: 18px;
}
.osb-navbar .navbar-nav.login-options > li > a > .btn-login:hover > .icon {
    color: #A4ACB0;
}
.osb-navbar .navbar-nav.login-options > li > .logged-user {
	font-size: 1.3em;
    padding-right: 0 !important;
}
.osb-navbar .navbar-nav.login-options > li > .logged-user .user-pic {
    position: absolute;
    left: -15px;
    width: 20px;
    height: 20px;
    border: 1px solid #566165;
    border-radius: 2px;
    display: inline-block;
}
.osb-navbar .navbar-nav.login-options > li > a > .btn-logoff > .icon {
    border-left: 1px solid #566165;
    color: #D1D8DA;
    font-size: 16px;
    padding-left: 15px;

    -webkit-transition: all .25s ease;
            transition: all .25s ease;
}
.osb-navbar .navbar-nav.login-options > li > a > .btn-logoff:hover > .icon {
    color: #A4ACB0;
}
.osb-navbar .navbar-toggle {
	background-color: transparent;
	margin-top: 15px;
	border: none;
}
.osb-navbar .navbar-toggle:focus,
.osb-navbar .navbar-toggle:hover,
.osb-navbar .navbar-toggle:active {
	background-color: transparent;
}
.osb-navbar .navbar-toggle .icon-bar {
	width: 25px;
	background-color: #D1D8DA;
	margin-top: 0;
	margin-bottom: 5px;
}

/*PROJECTS - HOME*/
#project-list {
	/*display: none;*/
}

/*RESPONSIVE*/
@media (max-width: 767px) {
	.osb-navbar .osb-logo {
	    margin-left: 15px;
	}
	.osb-navbar .navbar-nav {
	    margin: 2.5px 0 10px 0;
	}
	.osb-navbar .navbar-collapse {
	    border-top: 1px solid #9A56D8;
	}
	.osb-navbar .navbar-nav.menu-options {
	    border-bottom: 1px solid #566165;
	    text-align: center;
	    margin-left: 0;
	}
	.osb-navbar .navbar-nav.menu-options > li {
	    border-bottom: none;
	    margin: 20px 0;
	    padding: 0;
	    display: inline-block;
	}
	.osb-navbar .navbar-nav.login-options > li {
	    text-align: center;
	}
	.osb-navbar .navbar-nav > li > a > .btn-login > .icon {
	    font-size: 26px;
	    margin-bottom: 10px;
	    display: inline-block;
	}
	.osb-navbar .navbar-nav.login-options .logged-user {
	    margin-bottom: 10px;
	    display: inline-block;
	}
	.osb-navbar .navbar-nav.login-options .btn-logoff .icon-logoff {
	    border-left: none;
	    font-size: 26px;
	    margin-bottom: 20px;
	    padding: 0;
	    display: inline-block;
	}
}