<nav class="osb-navbar navbar navbar-default navbar-fixed-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="/#">Osborn</a> -->
      <a ui-sref="home"><img class="osb-logo" src="images/osborn-logo.svg" alt=""></a>
    </div>

    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
      <ul class="nav navbar-nav menu-options">
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="kanban">Kanban</a></li>
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="projects.list">Projects</a></li>
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="resources.list">Resources</a></li>            
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="teams.list">Teams</a></li>
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="risks.list">Risks</a></li>
        <li data-toggle="collapse" data-target="#navbar"><a ui-sref="users.list">Users</a></li>
      </ul>

      <ul class="nav navbar-nav login-options navbar-right">
        <li ng-if="!isAuthenticated">
          <a href="" ng-click="toolbar.login()">
            <span class="btn-login">
                <span class="icon icon-login"></span>
            </span>
          </a>
        </li>
        <li ng-if="isAuthenticated">
          <a href="" class="logged-user">
            <span class="user-pic"></span>
            <span class="user-name">{{authService.userProfile.email}}</span>
          </a>
        </li>
        <li ng-if="isAuthenticated">
          <a href="" ng-click="toolbar.logout()">
            <span class="btn-logoff">
              <span class="icon icon-logoff"></span>
            </span>
          </a>
        </li>
      </ul>
    </div>


  </div>
</nav>