<div class="row">
  <div class="col-sm-11">
    <h1>{{pd.project.name}} <small>{{pd.project.code}}</small></h1>
  </div>
  <div class="col-sm-1">
    <span class="label text-right" ng-class="pd.statusLabel()">
      {{pd.project.status ? pd.project.status.toUpperCase() : 'NO STATUS'}}
    </span>
  </div>
  <div class="col-sm-12 well">
    <p>{{pd.project.description}}</p>
    <p>{{pd.project.start_date | date : 'dd/MM/yyyy'}} a {{pd.project.end_date | date : 'dd/MM/yyyy'}}</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Allocations</h2>
    <div class="row">
      <table class="table table-stripped">
        <thead>
          <th class="col-md-5">Resource</th>
          <th class="col-md-4">Position</th>
          <th class="col-md-1">Start</th>
          <th class="col-md-1">End</th>
          <th class="col-md-1">Hours</th>
        </thead>
        <tbody>
          <tr ng-repeat="allocation in pd.project.allocations ">
            <td>{{allocation.resource.name}}</td>
            <td>{{allocation.resource.position}}</td>
            <td>{{allocation.start_date | date : 'dd/MM'}}</td>
            <td>{{allocation.end_date | date : 'dd/MM'}}</td>
            <td class="text-right">{{allocation.hours}}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td class="lead" colspan="4">Total</td>
            <td class="lead text-right">{{pd.totalAllocationHours()}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="col-sm-6">
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="pd.allocationChartData" chart-labels="pd.allocationChartLabels"></canvas> 
  </div>
</div>