<h1>Project</h1>

<form class="form-horizontal">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Name" ng-model="pc.project.name">
  </div>
  
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input type="text" class="form-control" id="nickname" placeholder="Nickname" ng-model="pc.project.nickname">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" placeholder="Description" ng-model="pc.project.description"></textarea>
  </div>

  <div class="form-group">
    <label for="code">Code</label>
    <input type="text" class="form-control" id="code" placeholder="Code" ng-model="pc.project.code">
  </div>  

  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" ng-model="pc.project.status" class="form-control">
      <option ng-repeat="stat in pc.status">{{stat.desc}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="entity">Entity</label>
    <select id="entity" ng-model="pc.project.entity" class="form-control">
      <option ng-repeat="entity in pc.entities">{{entity}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="team">Team</label>
    <select id="team" ng-model="pc.project.team" class="form-control">
      <option ng-repeat="team in pc.teams">{{team}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="start_date">Start date</label>
    <input type="date" class="form-control" id="start_date" ng-model="pc.project.start_date">
  </div>
  
  <div class="form-group">
    <label for="end_date">End date</label>
    <input type="date" class="form-control" id="end_date" ng-model="pc.project.end_date">
  </div>
  
  <div class="form-group">
    <div class="col-sm-12 text-right">
      <a ui-sref="projects.list" class="btn btn-default">Cancel</a>
      &nbsp;
      <button type="submit" ng-click="pc.save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>